<!DOCTYPE html>
<html>
<head>
  <title>WORLD CUP 2014</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<br/>
<br/>
	<center>
	
	<% if session[:user] %>
	<%= render 'layouts/navigation' %>
	<% end%>
	<%= yield %>
	<% if flash[:notice] %>
		<h1><%= flash[:notice].upcase %></h1>
	<% end %>

	</center>
</div>
</body>
</html>
